
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotCached</title>
</head>
<body>
    <div>
        <p>@ViewBag.MyDate</p>
        @Html.ActionLink("Cached Version", "Cached")
    </div>
</body>
</html>
