
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <div>
        @Html.Partial("_Login")
        <br />
        @Html.Partial("_Login")
        <br />
        @Html.Action("SamplePartial", "Sample")
    </div>
</body>
</html>
