
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ControllerLevelLayout</title>
</head>
<body>
    <div>
        <h1>Controller Level Layout</h1>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        &copy;2018
    </div>
</body>
</html>
